{#
SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=GoToSocial ActivityPub Server ({{ gotosocial_identifier }})
{% for service in gotosocial_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in gotosocial_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ gotosocial_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ gotosocial_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ gotosocial_identifier }} \
      --log-driver=none \
      --user={{ gotosocial_uid }}:{{ gotosocial_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ gotosocial_container_network }} \
      {% if gotosocial_container_http_host_bind_port %}
      -p {{ gotosocial_container_http_host_bind_port }}:{{ gotosocial_container_http_port }} \
      {% endif %}
      --env-file={{ gotosocial_base_path }}/env \
      --label-file={{ gotosocial_base_path }}/labels \
      --mount type=bind,src={{ gotosocial_data_path }},dst=/gotosocial/storage \
      {% if gotosocial_database_type == 'sqlite' %}
      --mount type=bind,src={{ gotosocial_database_path }},dst=/opt/gotosocial \
      {% endif %}
      {% for volume in gotosocial_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ gotosocial_container_tmp_size }} \
      {% for arg in gotosocial_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ gotosocial_container_image_final }}

{% for network in gotosocial_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ gotosocial_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ gotosocial_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ gotosocial_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ gotosocial_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ gotosocial_identifier }}

[Install]
WantedBy=multi-user.target
